@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



 body{
     background-repeat: no-repeat;
    /*background-image: linear-gradient(to right, whitesmoke,#131217 );*/
     background-repeat: no-repeat;
     background-size: cover;
     font-family: Poppins;
     font-weight: 300;
     font-size: 16px;
     color: white;
     background-attachment: scroll;
     margin: 0;
     scroll-behavior: smooth;
     background-color: #131217;

 }
 label{
     color: black;
 }

 input{
     border: 1px solid;
     color: black;
     width: 100%;
 }
 input:invalid{
     border-color: red;
 }
.crown{
    padding-right: 5px;
    color: orange;
}
 .page-link{
     border: none;
     cursor: pointer;
     width: 140px;
 }

 .page-link:focus{
     outline: none;
 }
 .page-link:active{
     border: none;
     pointer-events: none;
     cursor: pointer;
 }